*{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(11, 30, 65);
}   
.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgb(250, 251, 252);
    padding: 40px 20px;
    border-radius: 10px;
}
.inputsArea{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}